<footer class="my-8">
  <p class="text-center text-sm text-slate-500">
    Copyright © {new Date().getFullYear()} Wahkonsa Lodge. All rights reserved.
  </p>
  <p class="mt-1 text-center text-xs text-slate-500">
    <a href="/privacy-safety" class="hover:underline">Privacy and Safety</a>
  </p>
  <p class="mt-1 text-center text-xs text-slate-500">
    Website managed by Banta Technologies, LLC.
  </p>
</footer>
