---
---

<main class="pt-6 pb-8 md:pt-8 md:pb-16">
  <div class="mx-auto max-w-[75%]">
    <img
      src="/images/wahkonsa-lodge-banner.png"
      alt="Wahkonsa Lodge"
      loading="eager"
      class="w-full rounded-lg border border-slate-200 bg-white shadow-sm"
    />
  </div>
  <div class="mt-8">
    <!-- <div class="mt-6 flex flex-col sm:flex-row gap-3">
      <Link
        href="#"
        href="https://web3templates.com/templates/astroship-starter-website-template-for-astro"
        target="_blank"
        class="flex gap-1 items-center justify-center"
        rel="noopener">
        <Icon class="text-white w-5 h-5" name="bx:bxs-cloud-download" />

         Download for Free
      </Link>
      <Link
        size="lg"
        style="outline"
        rel="noopener"
        href="https://github.com/surjithctly/astroship"
        class="flex gap-1 items-center justify-center"
        target="_blank">
        <Icon class="text-black w-4 h-4" name="bx:bxl-github" />
         GitHub Repo
      </Link>
    </div> -->
  </div>
</main>
