---
import { SEO } from "astro-seo";
import Footer from "@components/footer.astro";
import Navbar from "@components/navbar/navbar.astro";
import "@fontsource-variable/inter/index.css";
import '@fontsource-variable/bricolage-grotesque';

export interface Props {
  title: string;
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site).toString();
const resolvedImageWithDomain = new URL("/opengraph.jpg", Astro.site).toString();

const { title } = Astro.props;

const makeTitle = title
  ? title + " | " + "Wahkonsa Lodge"
  : "Wahkonsa Lodge Unique Art Made Available To The Public";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />

    <!-- SEO -->
    <SEO
      title={makeTitle}
      description="Wahkonsa Lodge Digital Art From Our Neck Of The Woods."
      canonical={canonicalURL}
      twitter={{
        creator: "@surjithctly",
        site: "@web3templates",
        card: "summary_large_image",
      }}
      openGraph={{
        basic: {
          url: canonicalURL,
          type: "website",
          title: `Wahkonsa Lodge- Digital Art From Our Neck Of The Woods in Iowa`,
          image: resolvedImageWithDomain,
        },
        image: {
          alt: "Wahkonsa Lodge Homepage Screenshot",
        },
      }}
    />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wahkonsa Lodge</title>


<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-2Q5FRRB9LE"></script>
<script is:inline>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'G-2Q5FRRB9LE');
</script>


  </head>
  <body>
    <Navbar />
    <slot />
    <div id="redbubble-portfolio"></div> <!-- Placeholder for Redbubble embed -->
    <Footer />
    <style is:global>
      /* Improve Page speed */
      /* https://css-tricks.com/almanac/properties/c/content-visibility/ */
      img {
        content-visibility: auto;
      }
    </style>


  </body>
</html>
